# Ignora los archivos y carpetas que no necesitas en la imagen Docker
**/.dockerignore
**/.git
**/.github
**/.vs
**/bin
**/obj 
**/Dockerfile
**/docker-compose.yml
**/.env 

**/NutritionalKitchen.Test